Repository DuckOverload/teaformation-site, changes with the labels that .github/labeler.yml gives for each.
All labels: area: ui, area: components, area: blog, area: auth, area: api, area: dashboard, area: ebooks, area: seo, area: config, area: docs, area: ci, area: tests, dependencies

chore(*): init the TEAformation website
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  README.md
  app/globals.css
  app/layout.tsx
  commitlint.config.js
  eslint.config.mjs
  github-templates-guide.md
  md/git-workflow-teaformation.md
  next.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.mjs
  tsconfig.json
Labels: area: ui, area: components, area: config, area: docs, dependencies

fix(*): resolve a problem with github actions
  package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: components, area: config, dependencies

chore(*): clean npm cache and rebuild node modules
  package-lock.json
Labels: area: components, area: config, dependencies

chore(*): remove pnpm and add npm
  tsconfig.json
Labels: area: components, area: config

chore(github): add metrics, security and add to project workflows, and edit ci
  .github/workflows/add-to-project.yml
  .github/workflows/ci.yml
  .github/workflows/metrics.yml
  .github/workflows/security.yml
Labels: area: components, area: ci

refactor(app): remove unused children variable
  app/layout.tsx
Labels: area: ui, area: components

chore(github): add metrics, security and add to project workflows, and edit ci
  .github/workflows/metrics.yml
Labels: area: components, area: ci

refactor(app): remove unused children variable
  app/layout.tsx
Labels: area: ui, area: components

docs(md): add automation, project setup, roadmap and guide
  md/advanced-automations-guide.md
  md/github-projects-setup.md
  md/github-templates-guide.md
  md/roadmap-teaformation-notion.md
Labels: area: components

docs(*): add merics dashboard
  github-templates-guide.md
  metrics-dashboard.html
Labels: area: components, area: docs

fix(*): resolve ci error, when 'npm run type-check' in running
  package.json
Labels: area: components, area: config, dependencies

fix(github): disable SARIF file to github security
  .github/workflows/security.yml
Labels: area: components, area: ci

.github/labeler.yml:

# Auto-labeling configuration
# Labels PRs based on which files are changed

# Frontend/UI
'area: ui':
  - 'components/ui/**/*'
  - 'app/**/layout.tsx'
  - 'app/globals.css'
  - 'tailwind.config.ts'

# Components
'area: components':
  - 'components/**/*'
  - '!components/ui/**/*'

# Blog
'area: blog':
  - 'app/blog/**/*'
  - 'content/posts/**/*'
  - 'lib/blog.ts'

# Authentication
'area: auth':
  - 'app/auth/**/*'
  - 'middleware.ts'
  - 'lib/supabase/**/*'

# API
'area: api':
  - 'app/api/**/*'

# Dashboard/Área de Membros
'area: dashboard':
  - 'app/dashboard/**/*'

# E-books
'area: ebooks':
  - 'app/ebooks/**/*'
  - 'app/dashboard/ebooks/**/*'

# SEO
'area: seo':
  - 'app/**/metadata.ts'
  - 'app/sitemap.ts'
  - 'app/robots.ts'
  - 'lib/seo.ts'

# Configuração
'area: config':
  - '*.config.*'
  - '.env*'
  - 'package.json'
  - 'package-lock.json'
  - 'tsconfig.json'

# Documentação
'area: docs':
  - '*.md'
  - 'docs/**/*'
  - '.github/**/*.md'

# CI/CD
'area: ci':
  - '.github/workflows/**/*'
  - '.github/actions/**/*'

# Testes
'area: tests':
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '__tests__/**/*'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'
